@import '~@core/scss/angular/libs/datatables.component.scss';

.datatable-scroll {
  width: auto !important;
}
.isDisabled {
  pointer-events: none;
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
